/*Mobile Filter-sort Bar*/
.mob-filter-sort-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 60px;
}

.mob-filter-sort-bar__sort-btn,
.mob-filter-sort-bar__filter-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* mobile sort menu */
.mob-sort-menu .offcanvas-header {
  border-bottom: 1px solid #ddd;
  margin-inline: 10px;
  padding-inline: 0;
  padding-bottom: 10px;
}

.mob-sort-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mob-sort-menu li {
  padding: 12px 15px;
  font-size: 16px;
}

.mob-sort-menu li.active {
  background-color: #f5f5f5;
  font-weight: 700;
}

#mob-filter-menu {
  width: 50vw;
}

/*Desktop Sort Dropdown*/
.sort-dropdown {
  position: relative;
  cursor: pointer;
}

.sort-dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 2px;
  background-color: #fff;
  min-width: 250px;
}

.sort-dropdown__selected-option {
  font-weight: bold;
  margin-left: 5px;
  flex-grow: 1;
}

.sort-dropdown__icon {
  font-size: 16px;
  color: #bbb;
}

.sort-dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 5px 0;
  z-index: 1000;
  width: 100%;
  min-width: 250px;
}

.sort-dropdown:hover .sort-dropdown__menu {
  display: block;
}

.sort-dropdown__item {
  border: none;
  outline: none;
  background: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.sort-dropdown__item:hover {
  background-color: #f5f5f5;
}

.sort-dropdown__item--active {
  background-color: #f5f5f5;
  font-weight: 700;
}

/* No Products Styles*/
.no-products {
  text-align: center;
  padding-block: 50px;
}

.no-products__icon {
  font-size: 80px;
  color: #f44336;
  margin-bottom: 20px;
}

.no-products p {
  font-size: 16px;
  color: #888;
}

@media (max-width: 575.68px) {
  #mob-filter-menu {
    width: 75vw;
  }
}

@media (max-width: 767.98px) {
  .no-products__icon {
    font-size: 60px;
  }
}
