.filter-menu {
  background-color: #fff;
}

.filter-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.filter-menu__title {
  font-size: 20px;
  font-weight: 500;
}

.filter-menu__clear-all-btn {
  background: none;
  border: none;
  color: #007bff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-menu__group {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  padding: 15px 0px 15px 20px;
}

.filter-menu__subtitle {
  font-size: 16px;
}

.filter-menu__group:last-child {
  border-bottom: none;
}

.filter-menu__group .form-check {
  vertical-align: middle;
  padding-block: 2px;
  cursor: pointer;
}

.filter-menu__group label {
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-menu__group input {
  font-size: 16px;
  vertical-align: middle;
  border: 1.4px solid #ccc;
  border-radius: 2px !important;
  margin-right: 8px;
  cursor: pointer;
}

.filter-menu__price-slider {
  padding-right: 16px;
}

.filter-menu__price-range {
  font-weight: 700;
  font-size: 15px;
}
